/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

&kscan0 {
    debounce-period = <20>;
};

/ {
    macros {
        pw_macro: pw_macro {
            label = "ZM_PW";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LSHFT>
                , <&macro_tap &kp Z>
                , <&macro_release &kp LSHFT>
                , <&macro_tap &kp X &kp W &kp E &kp N5 &kp N6 &kp N3 &kp N4 &kp EXCL>
                ;
        };
        
        // Windows-style Ctrl+A (Select All) -> Mac Cmd+A
        mac_select_all: mac_select_all {
            label = "MAC_SELECT_ALL";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings = <&kp LG(A)>;
        };
        
        // Windows-style Alt+F4 (Close Window) -> Mac Cmd+Q  
        mac_quit_app: mac_quit_app {
            label = "MAC_QUIT_APP";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings = <&kp LG(Q)>;
        };
        
        // Windows-style Ctrl+Shift+T (Reopen Tab) -> Mac Cmd+Shift+T
        mac_reopen_tab: mac_reopen_tab {
            label = "MAC_REOPEN_TAB";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings = <&kp LG(LS(T))>;
        };
        
        // Windows-style Alt+Tab (App Switcher) -> Mac Cmd+Tab
        mac_app_switch: mac_app_switch {
            label = "MAC_APP_SWITCH";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings = <&kp LG(TAB)>;
        };

        // Windows-style Home key -> Mac Cmd+Left (beginning of line)
        mac_home: mac_home {
            label = "MAC_HOME";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings = <&kp LG(LEFT)>;
        };
        
        // Windows-style End key -> Mac Cmd+Right (end of line)
        mac_end: mac_end {
            label = "MAC_END";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings = <&kp LG(RIGHT)>;
        };
    };

    behaviors {
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_0";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp FSLH>, <&kp QMARK>;
        };
        
        td1: tap_dance_1 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_1";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp SQT>, <&kp DQT>;
        };
        
        td2: tap_dance_2 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_2";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp SEMI>, <&kp COLON>;
        };
        
        td4: tap_dance_4 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_4";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mt LALT LGUI>, <&kp LGUI>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        // Cuando lower (1) y raise (2) están activos, activa adjust (3)
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
// -----------------------------------------------------------------------------------------
// |  ESC |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
// | CTLTB|  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  |SFTENT|
//                    |GUALT| LWR | SPC |   | SHFT| RSE  | LGR |
            bindings = <
   &kp ESC       &kp Q &kp W &kp E          &kp R &kp T         &kp Y     &kp U  &kp I     &kp O   &kp P  &kp BSPC
   &mt LCTRL TAB &kp A &kp S &kp D          &kp F &kp G         &kp H     &kp J  &kp K     &kp L   &td2   &td1
   &kp LSHFT     &kp Z &kp X &kp C          &kp V &kp B         &kp N     &kp M  &kp COMMA &kp DOT &td0   &mt RSHFT ENTER
                             &mt LALT LGUI  &mo 1 &kp SPACE     &kp RSHFT &mo 2  &kp LG(RIGHT)
            >;
        };
        
        lower_layer {
// -----------------------------------------------------------------------------------------
// |  ESC |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
// | TAB  | LCA | PTR | DEL | LCF | HOME|   | LFT | DWN |  UP | RGT |VOLUP| PSCRN|
// | CAPS | LCZ | LCX | LCC | LCV | END |   |     | MCO | PWR | LGL |VOLDW| MUTE |
//                    | LGUI|     |     |   |     |     | ALT |
            bindings = <
   &kp F2     &kp N1    &kp N2        &kp N3    &kp N4    &kp N5         &kp N6    &kp N7       &kp N8     &kp N9     &kp N0            &trans
   &kp TAB    &kp LC(A) &kp LG(LS(S)) &kp DEL   &kp LC(F) &kp HOME       &kp LEFT  &kp DOWN     &kp UP     &kp RIGHT  &kp C_VOL_UP      &kp PSCRN
   &kp CAPS   &kp LC(Z) &kp LC(X)     &kp LC(C) &kp LC(V) &kp END        &trans    &pw_macro    &kp K_PWR  &kp LG(L)  &kp C_VOLUME_DOWN &kp C_MUTE
                        &kp LGUI      &trans    &trans                     &trans    &trans       &kp LG(LEFT)
            >;
        };

        raise_layer {
// -----------------------------------------------------------------------------------------
// |  ESC |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | CTRL |     |     |     |     |     |   |  -  |  =  |GRAVE|  [  |  ]  |  |   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  |  \  |  ~   |
//                     | GUI |     | SPC |   | ENT |     | ALT |
            bindings = <
   &kp GRAVE &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT   &kp CARET &kp AMPS  &kp ASTRK &kp LPAR &kp RPAR  &kp BSPC
   &kp F1    &kp F2    &kp F3  &kp F4    &kp F5    &kp F6      &kp MINUS &kp EQUAL &kp GRAVE &kp LBKT &kp RBKT &kp PIPE
   &kp F7    &kp F8    &kp F9  &kp F10   &kp F11   &kp F12     &kp UNDER &kp PLUS  &kp LBRC  &kp RBRC &kp BSLH  &kp TILDE
                               &trans    &trans    &trans      &trans    &trans    &kp LG(DOWN)
            >;
        };
        
        adjust_layer {
// -----------------------------------------------------------------------------------------
// |  ESC |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   |  -  |  =  |  {  |  }  | "|" |  `   |
// |      |     |     |     | RST | BOOT|   |  _  |  +  |  [  |  ]  |  \  |MAC ON|
//                    | GUI |     | SPC |   | ENT |     | ALT |
            bindings = <
   &trans     &trans       &trans       &trans       &trans       &trans            &trans  &trans  &trans   &trans  &trans  &trans 
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4      &trans  &trans  &trans   &trans  &trans  &trans 
   &trans     &trans       &trans       &trans       &sys_reset   &bootloader       &trans  &trans  &trans   &trans  &trans  &tog 4
                                        &trans       &trans       &trans            &trans  &trans  &trans 
            >;
        };
        


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// Mac Mode
//
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

        mac_mode_layer {
// -----------------------------------------------------------------------------------------
// |  ESC |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
// | LGUI |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  |SFTENT|
//                    | ALT | LWR | SPC |   | SHFT| RSE  | LALT|
// Windows-to-Mac conversions based on karabiner-windows-mode:
// - Main modifier swaps: Ctrl->Cmd, Alt->Option, Win->Ctrl  
// - Common shortcuts: Ctrl+C->Cmd+C, Ctrl+V->Cmd+V, etc.
// - Window management: Alt+Tab->Cmd+Tab, Alt+F4->Cmd+Q
            bindings = <
   &kp ESC         &kp Q &kp W &kp E              &kp R &kp T         &kp Y     &kp U  &kp I     &kp O   &kp P  &kp BSPC
   &mt LCTRL TAB   &kp A &kp S &kp D              &kp F &kp G         &kp H     &kp J  &kp K     &kp L   &td2   &td1
   &kp LSHFT       &kp Z &kp X &kp C              &kp V &kp B         &kp N     &kp M  &kp COMMA &kp DOT &td0   &mt RSHFT ENTER
                               &mt LALT LG(SPACE) &mo 5 &kp SPACE     &kp RSHFT &mo 6  &kp LGUI
            >;
        };
        
        mac_lower_layer {
// -----------------------------------------------------------------------------------------
// |  F2  |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
// | TAB  | SEL | SPT | DEL | FND | HOME|   | LFT | DWN |  UP | RGT |VOLUP| PSCRN|
// | CAPS | UDO | CUT | CPY | PST | END |   |     | MCO | PWR | LCK |VOLDW| MUTE |
//                    | ALT |     |     |   |     |     | LALT |
// Windows-to-Mac shortcut conversions:
// Ctrl+A -> Cmd+A (Select All), Ctrl+F -> Cmd+F (Find)
// Ctrl+Z -> Cmd+Z (Undo), Ctrl+X -> Cmd+X (Cut)  
// Ctrl+C -> Cmd+C (Copy), Ctrl+V -> Cmd+V (Paste)
            bindings = <
   &kp F2     &kp N1    &kp N2        &kp N3    &kp N4    &kp N5         &kp N6    &kp N7       &kp N8         &kp N9     &kp N0            &trans
   &kp TAB    &kp LG(A) &kp LG(LS(S)) &kp DEL   &kp LG(F) &mac_home      &kp LEFT  &kp DOWN     &kp UP         &kp RIGHT  &kp C_VOL_UP      &kp PSCRN
   &kp CAPS   &kp LG(Z) &kp LG(X)     &kp LG(C) &kp LG(V) &mac_end       &trans    &pw_macro    &kp K_PWR      &kp LG(L)  &kp C_VOLUME_DOWN &kp C_MUTE
                        &kp LGUI      &trans    &trans                   &trans    &mo 7        &kp LALT
            >;
        };

        mac_raise_layer {
// -----------------------------------------------------------------------------------------
// |  ESC |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// |  F1  | F2  | F3  | F4  | F5  | F6  |   |  -  |  =  |GRAVE|  [  |  ]  |  |   |
// |  F7  | F8  | F9  | F10 | F11 | F12 |   |  _  |  +  |  {  |  }  |  \  |  ~   |
//                     | ALT |     | SPC |   | ENT |     | LALT |
// Function keys and symbols remain mostly the same in Mac mode
// Main difference is modifier behavior in combinations
            bindings = <
   &kp GRAVE &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT   &kp CARET &kp AMPS  &kp ASTRK &kp LPAR &kp RPAR  &kp BSPC
   &kp F1    &kp F2    &kp F3  &kp F4    &kp F5    &kp F6      &kp MINUS &kp EQUAL &kp GRAVE &kp LBKT &kp RBKT  &kp PIPE
   &kp F7    &kp F8    &kp F9  &kp F10   &kp F11   &kp F12     &kp UNDER &kp PLUS  &kp LBRC  &kp RBRC &kp BSLH  &kp TILDE
                               &kp LALT  &mo 7     &trans      &trans    &trans    &kp LALT
            >;
        };
        
        mac_adjust_layer {
// -----------------------------------------------------------------------------------------
// |  ESC |     |     |ALTAB| F4  |     |   | TAB |     |     |     |     | BKSP |
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   |WLEFT|WDOWN| WUP |WRGHT|     |      |
// |      |     |     |CTAB | RST | BOOT|   |     |     |     |     |     |MAC OFF|
//                    | ALT |     | SPC |   | ENT |     | LALT |
// Advanced shortcuts based on karabiner-windows-mode:
// Alt+Tab -> Cmd+Tab (App Switcher)
// Alt+F4 -> Cmd+Q (Quit App) 
// Ctrl+Tab -> Ctrl+Tab (Tab switching within apps)
// Window management: Cmd+Arrow for window snapping
            bindings = <
   &trans     &trans       &trans         &kp LG(TAB) &kp LG(Q)     &trans            &kp LC(TAB) &trans        &trans         &trans         &trans  &trans 
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1   &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4      &kp LG(LEFT) &kp LG(DOWN) &kp LG(UP)    &kp LG(RIGHT)  &trans  &trans 
   &trans     &trans       &trans         &kp LC(TAB)  &sys_reset   &bootloader       &trans      &trans        &trans         &trans         &trans  &tog 4
                                          &kp LALT     &trans       &trans            &trans      &trans        &kp LALT 
            >;
        };
    };
};
